@import "tailwindcss";

@theme {
  /* This is the new way to define theme variables in v4 */
  --color-brand: #2563eb;
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
  }

 body {
    /* Change from white to your dark background color */
   background-color: #f8fafc; /* slate-50 */
    color: #0f172a; /* slate-900 (High contrast text) */
    transition: background-color 0.3s, color 0.3s;
  }
}
