@import "tailwindcss";

@theme {
  /* This is the new way to define theme variables in v4 */
  --color-brand: #2563eb;
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
  }

  body {
    background-color: white;
    color: #0f172a; /* slate-900 */
    transition: background-color 0.3s, color 0.3s;
  }
}
